body {
    color: white;
}
.nav {
    width: 40%;
}

.main {
    margin-top: 100px;
    margin-left: 100px;
}
.work {
    position: relative;
  text-align: left;
  color: white;
  width: auto;
}
.stories {
    position: absolute;
  bottom: 8px;
  left: 16px;
}
ul {
    list-style: none;
}
.stories h1 {
    font-size: 32px;
}
.stories p {
    font-size: 17px;
}
.icons {
    margin-top: 300px;
    color: #fff;
}
.icons ul li {
    margin-top: 24px;
}
.main {
    margin-top: 250px;
    color: #fff;
}
.main h1 {
    font-size: 72px;
    color:#F55800;
}
.main h2 {
    font-size: 32px;
    margin-top: 24px;
}
.main p {
    font-size: 20px;
    line-height: 32px;
    margin-top: 24px;
    color: #F4F5F7;
}
h1{
    font-size: 72px;
    color:#F55800;

}
.image {
    width: 60%;
}
.About-me {
    width: 100%;
}
.tonic {
    margin-right: 50px;
}
.ability {
    margin-top: 100px;
}
.form p {
   width: 30%;
}
.forms{
   display:flex;
   flex-direction: column;
}
.input_one{
    margin-top: 20px;
}
.message_box{
    width: 684px;
    margin-top: 20px;
}
.bttn {
    margin-top: 20px;
    width: 100px;
    height: 24px;
    background: #F55800;
    padding: 20px;
    text-align: center;
}